body
{
    width:100%;
    height:auto;
    margin:auto;
    background-image: url("planet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header 
{
    display: block;
}



#Emblem
{
    display: inline-block;
    height: 200px;
    width: 300px;
    position: relative;
    top: 0px;
}

#logo
{
    position: relative;
    top: 0px;
    left: 150px;
}

aside
{
    position: relative;
    left: 10%;
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 250px;
}

td
{
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgb(70,70,70);
}

table
{
    text-align: center;
    color: white;
}

nav
{
    vertical-align: top;
    display: inline-block;
    position:relative;
    left: 40px;
    border-style: double;
    border-width: 4px;
    width: 200px;
    background-color: rgb(70,70,70);
    margin-top: 20px;
}


section 
{
    vertical-align: top;
    width: 50%;
    display: inline-block;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.8;
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 14%;
}

#section1
{
    display: block;
    margin-left: 20%;
    border: 4px double black;
    height: 250px;
    width: 600px;
    bottom: 15px;
    position: relative;
}

#section2
{
    display: block;
    right: 0%;
    border: 4px double black;
    height: 250px;
    width: 600px;
    bottom: 15px;
    position: relative;
}

footer
{
    background-color: rgb(70,70,70);
    text-align: center;    
}   

a:visited
{
    color:yellow;
}

